.pageContainer {
  width: 100%;
  min-height: 100vh;
  max-width: 2400px; /* Prevents overly wide content on large screens */
  margin: 0 auto;   /* Centers the container */
  padding: 0 20px; /* Creates breathing room on small screens */
}

.gridContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: antiquewhite;  
}