.pageContainer {
  width: 100%;
  min-height: 100vh;
  max-width: 2400px; /* Prevents overly wide content on large screens */
  margin: 0 auto;   /* Centers the container */
  padding: 0 20px; /* Creates breathing room on small screens */
}

.gridSection {
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;  
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  height: 100%;
}